.navbar {
  list-style-type: none;

  background-color: white;
}
.inventory-screen{
  list-style-type: none;
  flex-direction:row;
  display: flex;
  margin-left: -5px;
  margin-right:-5px;

}

.item-buttons{
  margin:5px;
  margin-right:10px;
}

a {
  color: black;
}

.item-li{
  margin-right: 5px;
}

.navbar.nav {
  flex-direction: row;
  display: flex;
}

.navButtons {
  margin:5px;
}

.inputArea {
  box-shadow:-1px -1px 5px #555;
  border-radius: 4px;
  padding-bottom: 15px;
  padding-top: 15px;
  overflow: auto;
}

.workingArea {
  border-radius: 4px;
  box-shadow: 1px 1px 5px #555 inset;
  overflow: auto;
}

.orderScreen, .container{
  height: 100%;
}

.navBarRow {
  top:0px;
  margin-left: 0px;
}

.serverArea{
  height:80%;
  margin-right:-60px;
}

.container-fluid{
  width:90%;
  height:95%;
  margin-left: 40px;
  margin-right:40px;
  padding-top:10px;
}

.bottom-nav{
  height:60px;
  padding-top:15px;
}

.footer-area{
  height:60px;
}

#pay-modal{
  display: none;
}

.lookup{
  margin-top:28px;
}

.customer-name-return{
  margin-bottom: 10px;
}